@import 'tailwindcss';
@plugin "tailwindcss-animate";

.white-theme .main-bg {
  background-color: #FAFAFA;
}
.white-theme .card-bg {
  background-color: #FFFFFF;
}

.white-theme .card-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.white-theme .primary-text {
  color: #101828;
}

.white-theme .secondary-text {
  color: #6a7282;
}

.white-theme .border-color {
  border-color: #e5e7eb;
}

.white-theme .table-header-bg {
  background-color: #F1F1F1;
}
.white-theme .table-data-text {
  color: #4a5565;
}

.white-theme .primary-btn {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.white-theme .primary-btn:hover {
  background-color: #000000;
  animation: button-hover 0.2s forwards;
}
.white-theme .primary-btn:active {
  animation: button-click 0.2s forwards;
}

.white-theme .secondary-btn {
  background-color: #ffffff00;
  color: #101828;
  border: 1px solid #d1d5dc;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.white-theme .secondary-btn:hover {
  background-color: #F1F1F1;
  animation: button-hover 0.2s forwards;
}
.white-theme .secondary-btn:active {
  animation: button-click 0.2s forwards;
}

.white-theme .ternary-btn {
  background-color: #ffffff00;
  color: #4a5565;
  cursor: pointer;
}
.white-theme .ternary-btn:hover {
  background-color: #F1F1F1;
  color: #000000;
  cursor: pointer;
}
.white-theme .ternary-btn-text {
  color: #4a5565;
}

.white-theme .disabled-btn {
  background-color: #F1F1F1;
  color: #4a5565;
}

.white-theme .sidenav-dark-bg {
  background-color: #F1F1F1;
}
.white-theme .sidenav-dark:hover {
  background-color: #e5e7eb;
  color: #4a5565;
  cursor: pointer;
}

.white-theme .active-tab-btn {
  background-color: #F1F1F1;
  color: #000000;
  cursor: pointer;
}

.white-theme .bg-toast {
  background-color: #161618;
}

.white-theme .form-text-field {
  background-color: #F1F1F1;
  border: 1px solid #E0E0E0;
}

.white-theme .popup {
  background-color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 10px rgba(26, 117, 255, 0.15);
}

.black-theme .primary-text {
  color: #ffffff;
}